/* RESET */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* PALETTE */

:root {
    --bgMain:#141922;
    --asideColor:#000000;
    --textWhite:#ffffff;
    --textGray:#75777c;
    --footer-color:#282828;
}

/* GENERAL RULES */


body {
    font-family: 'Gotham Black', sans-serif;
}

                                                
a {
    text-decoration: none;
    color: var(--textGray);
    font-size: 10px;
    font-family: 'Gotham Black', sans-serif;
}

* i {
    color: white;
}

* li {
    list-style: none;
}

/* EFFECT OVERLAY  */

 .inner  {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

  .overlay {
    display: none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
}

.mycol:hover  .overlay{
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}